
<div >
   <h1>Edtronics</h1>
   <p> The world's leading Education technology company </p>
   <p class="para">
     <em>We specializes in designing and developing educational electronics, computer hardware/sotfwares 
        and deliever online services for schools, students, teachers and parents.</em>
   </p>
   
         
</div>


