// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body   {
	  background-image: linear-gradient(-90deg, #0A0A0A, #254E18);
	  width: 815px;
      font-family: helvetica;
}


div{
    text-align: left;
	padding-top: 245px;
	margin-left: 184px;
}

div h1 {
	font-size: 75px;
}

div p{
	font-size : 25px;
}

div h1, p {
	color: #4169E1;
}


.para {
	font-size: 16px;
     width: 815px;
}
