// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body   {
	  background: url('/assets/cover.jpg');
	  background-repeat:no-repeat;	  
	  background-size: cover;
	  height: 830px;
	  width: 815px;
      color: white;
      font-family: helvetica;
}


div{
  text-align: left;
	padding-top: 145px;
	margin-left: 34px;
}

div h1 {
	font-size: 75px;
}

div p{
	font-size : 25px;
}

div h1, p {
	color: #fff;
}
