// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div{
	
    text-align: center;	
	font-size : 12 em;
	padding-top: 145px;

}

